<div ng-if="currentUser">
    <h1 id="entry">{{ loginMessage }}</h1>
    <button type="submit" ng-click="logout()" id="logout">Log Out</button>
</div>

<div ng-if="!currentUser">
    <h2>Login Form </h2>
    <ng-form name="loginForm">
        <div class="container">
            <label><b>Name</b></label><br>
            <input type="text" placeholder="Enter Name" name="username" id="username" ng-model="loginUser.name" required><br>

            <label><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="password" id="password" ng-model="loginUser.password" required><br>

            <button type="submit" value="Login" ng-click="login()">Login</button>
        </div>
        <h1 id="error">{{ loginMessage }}</h1>
    </ng-form>
</div>